body {
  font-size: 16px;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
h1 {
  
  font-size:40px;
  text-shadow:1px 1px 2px #000000;
  color:red;
}
section{
	border :1px solid black;
	margin:5px;
	padding:3px;
	background-color:#800080;
	height:800px;
	
}
#h2{
	
	color:#000000;

}
#h3{
	
	color:#000000;
	
}
#h4{
	
	color:#000000;
}

p {
  width: 90%;
  text-align:left;
  margin:0;
  font-family: Helvetica;
  color: black;
  padding-left:0;
  margin-top:40px;
  font-size:20px
}
#p1{
	background-color:#F08080;
}
#p2{
	background-color:#DB7093;
}
#p3{
	background-color:#DDA0DD;
}
/** HEADER **/

#header-nav {
  background-color: #000000;
  border-radius: 0;
  border: 0;
  
}
.navbar-brand {
  padding-top: 25px;
  
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid ;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
   #collapsable-nav a{
	   background-color:#FAEBD7;
	  
   }

  }
/* End Header */

 



  
   



